<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Web project travelagency</display-name>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>servlets.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewUserServlet</servlet-name>
		<servlet-class>servlets.NewUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllToursServlet</servlet-name>
		<servlet-class>servlets.AllToursServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewOrderServlet</servlet-name>
		<servlet-class>servlets.NewOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateUserServlet</servlet-name>
		<servlet-class>servlets.UpdateUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserOrdersServlet</servlet-name>
		<servlet-class>servlets.UserOrdersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteOrderServlet</servlet-name>
		<servlet-class>servlets.DeleteOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteUserServlet</servlet-name>
		<servlet-class>servlets.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminPanelServlet</servlet-name>
		<servlet-class>servlets.AdminPanelServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllToursServlet2</servlet-name>
		<servlet-class>servlets.AllToursServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewTourServlet</servlet-name>
		<servlet-class>servlets.NewTourServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateTourServlet</servlet-name>
		<servlet-class>servlets.UpdateTourServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteTourServlet</servlet-name>
		<servlet-class>servlets.DeleteTourServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllOrdersServlet</servlet-name>
		<servlet-class>servlets.AllOrdersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectOneUserServlet</servlet-name>
		<servlet-class>servlets.SelectOneUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectOneUserServlet</servlet-name>
		<url-pattern>/selectoneuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllOrdersServlet</servlet-name>
		<url-pattern>/allorders</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTourServlet</servlet-name>
		<url-pattern>/deletetour</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTourServlet</servlet-name>
		<url-pattern>/updatetour</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewTourServlet</servlet-name>
		<url-pattern>/newtour</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllToursServlet2</servlet-name>
		<url-pattern>/alltours2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminPanelServlet</servlet-name>
		<url-pattern>/adminpanel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUserServlet</servlet-name>
		<url-pattern>/deleteuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteOrderServlet</servlet-name>
		<url-pattern>/deleteorder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserOrdersServlet</servlet-name>
		<url-pattern>/userorders</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserServlet</servlet-name>
		<url-pattern>/updateuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewOrderServlet</servlet-name>
		<url-pattern>/neworder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllToursServlet</servlet-name>
		<url-pattern>/alltours</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewUserServlet</servlet-name>
		<url-pattern>/newuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
</web-app>